In [9]:
'''
Exercise 1: Reverse a given list in Python

aLsit = [100, 200, 300, 400, 500]

Expected output:

[500, 400, 300, 200, 100]
'''
lst = [100, 200, 300, 400, 500]
lst = lst[::-1]
print(lst)

[500, 400, 300, 200, 100]

In [21]:
'''
Exercise 2: Concatenate two lists index-wise

Given:

list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

Expected output:

['My', 'name', 'is', 'Kelly']
'''
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3 = []

for (i,j) in zip(list1,list2):
    list3.append(i+j)
print(list3)

['My', 'name', 'is', 'Kelly']

In [22]:
'''
How to add two lists element-wise in Python

list1 = [1, 2, 3]
list2 = [4, 5, 6]

'''
list1 = [1, 2, 3]
list2 = [4, 5, 6]
sumList = []
for i,j in zip(list1,list2):
    sumList.append(i+j)
print(sumList)

[5, 7, 9]

In [28]:
'''
Exercise 3: Given a Python list of numbers. Turn every item of a list into its square

Given:

aList = [1, 2, 3, 4, 5, 6, 7]

Expected output:

[1, 4, 9, 16, 25, 36, 49]
'''
import math
lst = [1, 2, 3, 4, 5, 6, 7]
squareList = []
for i in lst:
    #squareList.append(i**2)
    squareList.append(i*i)
print(squareList)

[1, 4, 9, 16, 25, 36, 49]

In [41]:
'''
Exercise 4: Concatenate two lists in the following order

list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

Expected output:

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

'''
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
opLst = []
for i in list1:
    for j in list2:
#         print(i,j)
        opLst.append(i)
        opLst.append(j)
print(opLst)

['Hello ', 'Dear', 'Hello ', 'Sir', 'take ', 'Dear', 'take ', 'Sir']

In [57]:
'''
Exercise 5: Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order

Given

list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

Expected output:

10 400
20 300
30 200
40 100
'''
# Solution 1
def fun(list1,list2):
#     list1 = [10, 20, 30, 40]
#     list2 = [100, 200, 300, 400]
    # opLst = []
    list2R = list2[::-1]    
    for i in range(len(list1)):
        print(list1[i], end=" ")
        print(list2R[i])
    # Solution 2
    print("Solution 2")
    for (i,j) in zip(list1,list2R):
        print(i,j)
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]        
fun(list1,list2)

10 400
20 300
30 200
40 100
Solution 2
10 400
20 300
30 200
40 100

In [12]:
'''
Exercise 6: Remove empty strings from the list of strings

list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

Expected output:

["Mike", "Emma", "Kelly", "Brad"]
'''

list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
list2 = []
for i in range(len(list1)):    
    if list1[i] != "":
#         print(i)
        list2.append(list1[i])
print(list2)
list1 = list2
print(list1)

# solution 2
# using filter method
list1 = (list(filter(None,list1)))
print(list1)

['Mike', 'Emma', 'Kelly', 'Brad']
['Mike', 'Emma', 'Kelly', 'Brad']
['Mike', 'Emma', 'Kelly', 'Brad']

In [63]:
'''
Exercise 9: Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value

Given

list1 = [5, 10, 15, 20, 25, 50, 20]

Expected output:

list1 = [5, 10, 15, 200, 25, 50, 20]
'''
list1 = [5, 10, 15, 20, 25, 50, 20]
# for i in range(len(list1)):
#     if list1[i] == 20:
#         list1[i] = 200
#         break
# print(list1)  

# Solution 2
index = list1.index(20)
list1[index] = 200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

In [95]:
'''
Exercise 10: Given a Python list, remove all occurrence of 20 from the list

list1 = [5, 20, 15, 20, 25, 50, 20]

Expected output:

[5, 15, 25, 50]
'''

list1 = [5, 20, 15, 20, 25, 50, 20]
list1[:] = [i for i in list1 if i!=20]
print(list1)

[5, 15, 25, 50]