In [9]:
'''
Exercise 1: Create a list by picking an odd-index items from the first list and even index items from the second
'''
# Solution 1
# l1 = [3, 6, 9, 12, 15, 18, 21]
# l2 = [4, 8, 12, 16, 20, 24, 28]
# l3 = []
# for odd in range(len(l1)):
#     if odd %2!=0:
#         print(l1[odd])
#         l3.append(l1[odd])
# print("-------------")        
# for even in range(len(l2)):
#     if even %2==0:
#         print(l2[even])
#         l3.append(l2[even])     
        
# print("-------------")          
# print(l3)       
# Solution 2
def fun(lst1,lst2):
    # l1 = [3, 6, 9, 12, 15, 18, 21]
    # l2 = [4, 8, 12, 16, 20, 24, 28]
    l3 = []
    # print(l1[1:-1:2])
    # same as
    oddIndex = l1[1::2]
    # print(oddIndex)
    # simply it means start from index 1 to end and last : mention from how many steps it picks other numbers
    # 2 means, start from index 1 then 3,5,7...
    evenIndex = l2[0::2]
    # l3.append(oddIndex)
    # l3.append(evenIndex)
    # [[4, 12, 20, 28], [6, 12, 18]] it gives l3 in this way
    # so we have to use extend
    l3.extend(oddIndex)
    l3.extend(evenIndex)
    print(l3)
l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]
fun(l1,l2)

[6, 12, 18, 4, 12, 20, 28]

In [5]:
# Exercise 3: Slice list into 3 equal chunks and reverse each chunk
def fun(lst):
# sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89,10,21,20]

    length = len(sample_list)
    chunk1 = int(length/3)
    chunk2 = chunk1 * 2
    chunk3 = chunk1 * 3
    l1 = sample_list[:chunk1]
    l2 = sample_list[chunk1:chunk2]
    l3 = sample_list[chunk2:chunk3]
    #
    print("Chunk1 before",l1)
    print("Chunk1 Reversed",l1[::-1])
    print("Chunk2 before",l2)
    print("Chunk2 Reversed",l2[::-1])
    print("Chunk3 before",l3)
    print("Chunk3 Reversed",l3[::-1])
    
sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89,10,21,20]
fun(sample_list)

Chunk1 before [11, 45, 8, 23]
Chunk1 Reversed [23, 8, 45, 11]
Chunk2 before [14, 12, 78, 45]
Chunk2 Reversed [45, 78, 12, 14]
Chunk3 before [89, 10, 21, 20]
Chunk3 Reversed [20, 21, 10, 89]

In [14]:
'''
Exercise 4: Count the occurrence of each element from a list

Given:

sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]

Expected Output:

Printing count of each item   {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

'''
# count = 0
# dct = {}
# sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]
# for i in range(len(sample_list)):
#     print(sample_list[i])

11
45
8
11
23
45
23
45
89

In [22]:
'''
Exercise 5: Create a Python set such that it shows the element from both lists in a pair

Given:

first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

Expected Output:

Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}
'''

first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]
mySet = set()
# print(type(mySet))
result = zip(first_list,second_list)
resultSet = set(result)
print(resultSet)

{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

In [50]:
'''
Exercise 6: Find the intersection (common) of two sets and remove those elements from the first set

See: Python Set

Given:

first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}

Expected Output:

Intersection is  {57, 83, 29}
First Set after removing common element  {65, 42, 78, 23}
'''

first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}
common = first_set.intersection(second_set)
# for i in range(len(common)):
#     print(common[i])
# we can't use indexing in sets
for i in common:
    #print(i) 57 83 29
    first_set.remove(i)
    
print(first_set)

{65, 42, 78, 23}

In [63]:
'''
Exercise 7: Checks if one set is a subset or superset of another set. If found, delete all elements from that set

Given:

first_set = {27, 43, 34}
second_set = {34, 93, 22, 27, 43, 53, 48}

Expected Output:

First set is subset of second set - True
Second set is subset of First set -  False

First set is Super set of second set -  False
Second set is Super set of First set -  True

First Set  set()
Second Set  {67, 73, 43, 48, 83, 57, 29}
'''
def sets(set1,set2):
    
#     first_set = {27, 43, 34}
#     second_set = {34, 93, 22, 27, 43, 53, 48}

    print("First set is subset of second set - ",set1.issubset(set2))
    print("Second set is subset of First set -",set2.issubset(set1))
    print("First set is Super set of second set -",set1.issuperset(set2))
    print("Second set is Super set of First set - ",set2.issuperset(set1))
    if set1.issubset(set2):
        set1.clear()
    elif set2.issubset(set1):
        set2.clear()
    print(set1)
    print(set2)    
  
first_set = {27, 43, 34}
second_set = {34, 93, 22, 27, 43, 53, 48}    
sets(first_set,second_set)

First set is subset of second set -  True
Second set is subset of First set - False
First set is Super set of second set - False
Second set is Super set of First set -  True
set()
{34, 43, 48, 53, 22, 27, 93}

In [112]:
'''
Exercise 8: Iterate a given list and check if a given element exists as a key’s value in a dictionary. If not, delete it from the list

Given:

roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}

Expected Outcome:

After removing unwanted elements from list [47, 69, 76, 97]

'''
# Solution 1
# roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
# sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}
# newRollNo = []
# for i in roll_number:
#     #print(sample_dict.values())
#     #break
#     if i in sample_dict.values():
#         newRollNo.append(i)    
# roll_number = newRollNo
# del newRollNo
# print(roll_number)

# Solution 2
roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}
roll_number[:] = [i for i in roll_number if i in sample_dict.values()]
print(roll_number)

[47, 69, 76, 97]

In [ ]:
'''
Exercise 9: Get all values from the dictionary and add them to a list but don’t add duplicates

Given:

speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53, 'july': 54, 'Aug': 44, 'Sept': 54}

Expected Outcome:

[47, 52, 44, 53, 54]

'''

In [141]:
speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53, 'july': 54, 'Aug': 44, 'Sept': 54}
# Solution1
# by using set bz set does not include duplicate elements
#mySet = set()
# print(mySet)
# for i in speed.values():
#     mySet.add(i)    
    
# # list(mySet)    
# # Now Working here, assign it into a variable
# lst = list(mySet)
# print(lst)
# print(type(lst))
# Solution2
lst = []
for i in speed.values():
    if i not in lst:
        lst.append(i)
print(lst)

[47, 52, 44, 53, 54]

In [148]:
'''
Exercise 10: Remove duplicates from a list and create a tuple and find the minimum and maximum number
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]

unique items [87, 45, 41, 65, 99]
tuple (87, 45, 41, 65, 99)
min: 41
max: 99
'''

sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
mySet = set()
for i in sample_list:
    mySet.add(i)
print(mySet)    
sample_list = list(mySet)
print(sample_list)

{65, 99, 41, 45, 87, 94}
[65, 99, 41, 45, 87, 94]